<h1>Editing attendance confirmation</h1>

<%= render "form", attendance_confirmation: @attendance_confirmation %>

<br>

<div>
  <%= link_to "Show this attendance confirmation", @attendance_confirmation %> |
  <%= link_to "Back to attendance confirmations", attendance_confirmations_path %>
</div>
