<h1>New attendance confirmation</h1>

<%= render "form", attendance_confirmation: @attendance_confirmation %>

<br>

<div>
  <%= link_to "Back to attendance confirmations", attendance_confirmations_path %>
</div>
