<div id="<%= dom_id permission %>">
  <p>
    <strong>Name:</strong>
    <%= permission.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= permission.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= permission.deleted_at %>
  </p>

</div>
