<h1>Editing monthly schedule</h1>

<%= render "form", monthly_schedule: @monthly_schedule %>

<br>

<div>
  <%= link_to "Show this monthly schedule", @monthly_schedule %> |
  <%= link_to "Back to monthly schedules", monthly_schedules_path %>
</div>
